{% extends "auctions/layout.html" %}

{% block title %}Commerce{% endblock %}

{% block body %}
<main class="container">
    <h2 class="text-center">Active Listings</h2>
	<hr>
	<div class="row">
		<div class="col-md-4 border shadow p-3 mb-5 bg-white rounded">
			<div class="card-body">
				<h3>Categories</h3>
				<ul>
					{% for category in Categories %}
						<li>
							<a href="{% url 'filter' category.id %}">{{ category.categories }}</a>
						</li>
					{% endfor %}
				</ul>
				<hr>
				<h3>Sold items list</h3>
				<ul>
					<li>
						<a href="{% url 'filter' "sold" %}">Sold items</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			{% for item in Items %}
				<div class="container">
					<a href="{% url 'item' item.id %}" class="text-decoration-none text-reset">
						<div class="row border shadow p-3 mb-5 bg-white rounded">
							<div class="col-md-5 container card-body">
								<img src="{{ item.img }}" class="img-fluid w-100">
							</div>
							<div class="col-md-7 card-body">
								<h3>{{ item.title }}</h3>
								<h6>{{ item.description |slice:'0:47' }}...</h6>
								<small>{{ item.date }}</small>
								<h4>{{ item.prices }}€</h4>
								{% if not item.bought %}
									<button class="btn btn-primary">Place bid</button>
								{% endif%}
							</div>
						</div>
					</a>
				</div>
			{% empty %}
				<h5>Nothing to show here yet.</h5>
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}