{% extends "auctions/layout.html" %}

{% block title %}{{ item.title }} - {{ item.owners }}{% endblock %}

{% block body %}
    {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <main class="container">
        <div class="row container shadow p-3 mb-5 bg-white rounded card-body" id="first-card">
            <div class="col-md-3 align-self-center">
                <img src="{{ item.img }}" class="w-100 self-align-center">
            </div>
            <div class="col-md-8 card-body">
                <h1>{{ item.title }}</h1>
                <hr>
                <h3>Last bid: {% if Bids.last.bids %}{{ Bids.last.bids }}{% else %}{{ item.initial_bid }}{% endif %}€</h3>
                <h6>Initial bid: {{ item.initial_bid }}€</h6>
                <p>{{ Bids.count }} bid(s).
                {% if user.is_authenticated %}
                    {% if item.owners == request.user %}
                        <p></p>
                    {% elif Bids.last.users == request.user %}
                        {% if item.bought %}
                            <p>Congratulations! You won the auction.</p>
                        {% else %}
                            <p>Your bid is the current bid!</p>
                        {% endif %}
                    {% elif item.bought and not Bids.last.users == request.user %}
                        <p>Sorry, auction is over.</p>
                    {% else %}
                        <form action="{% url 'item' item.id %}" method="POST" class="form">
                            {% csrf_token %}
                            {{ BidForm }}
                            <br>
                            <button class="btn btn-primary" name="button" value="new_bid">Place bid</button>
                        </form>
                    {% endif %}
                {% else %}
                    {% if item.bought %}
                        <p>Sorry, auction is over.</p>
                    {% else %}
                        <p>You are not log in.</p>
                        <div class="d-flex">
                            <form action="{% url 'login' %}" class="form">
                                <button class="btn btn-primary">Login</button>
                            </form>
                            &nbsp;&nbsp;
                            <form action="{% url 'register' %}" class="form">
                                <button class="btn btn-outline-primary">Register</button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            {% if item.owners != request.user and user.is_authenticated %}
                <div class="card-body container">
                    <form action="{% url 'watchlist' item.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-secondary">
                        {% if watchlist %}
                            <i class="fas fa-bookmark"></i>
                        {% else %}
                            <i class="far fa-bookmark"></i>
                        {% endif %}
                        Watchlist
                        </button>
                    </form>
                </div>
            {% else %}
                {% if not item.bought and user.is_authenticated%}
                    <form action="{% url 'close_auction' item.id %}" class="form">
                        <button class="btn btn-outline-primary">Close auction</button>
                    </form>
                {% endif %}
            {% endif %}
            </div>
        </div>
        <div class="border row container shadow p-3 mb-5 bg-white rounded" id="description">
            <div class="card-body">
                <h3>Details</h3>
                <hr>
                <ul>
                    <li>
                        <strong>Owner:</strong> {{ item.owners }}
                    </li>
                    <li>
                        <strong>Category:</strong> <a href="{% url 'filter' item.category.id %}">{{ item.category }}</a>
                    </li>
                    <li>
                        <strong>Created on:</strong> {{ item.date }}
                    </li>
                </ul>
                <h5>Description</h5>
                <p>{{ item.description }}</p>
            </div>
        </div>
        <div class="card row container shadow p-3 mb-5 bg-white rounded">
            <div class="card-body" id="comments">
                <h3>Comments</h3>
                <hr>
                <div>
                    {% for comment in Comments %}
                        <div class="card">
                            <div class="card-body">
                                <h7 class=""><strong>{{ comment.users }}</strong></h5>
                                <small>{{ comment.date }}</small>
                                <p>{{ comment.content }}</p>
                            </div>
                        </div>
                        <br>
                    {% empty %}
                        <div>
                            <h5>No comments yet</h5>
                            <p>Make the first one!</p>
                        </div>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <form action="{% url 'item' item.id %}" method="POST" class="form">
                        {% csrf_token %}
                        {{ CommentForm }}
                        <br>
                        <button class="btn btn-primary" name="button" value="comment">Post</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </main>
    
{% endblock %}