{% extends "auctions/layout.html" %}

{% block title %}{{ watchlist.users.user }} watchlist's{% endblock %}

{% block body %}

    <h2 class="text-center">{{ watchlist.users.username }} watchlist's</h2>
	<hr>
    {% for item in Watchlist %}
		<div class="container">
			<a href="{% url 'item' item.id %}" class="text-decoration-none text-reset">
				<div class="row card container shadow p-3 mb-5 bg-white rounded">
					<div class="col-md-5">
						<img src="{{ items.img }}" class="img-fluid">
					</div>
					<div class="col-md-7 align-self-center card-body">
						<h3>{{ item.img }}</h3>
						<h6>{{ item.description }}</h6>
						<p>{{ item.date }}</p>
						<h4>{{ item.prices }}€</h4>
					</div>
				</div>
			</a>
		</div>
	{% endfor  %}

{% endblock %}